<%- include("header"); -%>
<div class="box" id="heading">
  <h1><%= kindOfDay%></h1>
</div>

<div class="box">
  <% newListItem.forEach(function(item){ %>

  <!-- for deleting checked items -->
  <form action="/delete" method="post">
    <div class="item">
      <!-- submit form when checkbox is checked -->
      <input
        type="checkbox"
        name="checkbox"
        value="<%= item._id  %>"
        onchange="this.form.submit()"
      />
      <p><%= item.name %></p>
    </div>
    <input type="hidden" name="listName" value="<%= kindOfDay%>" />
  </form>

  <% }); %>

  <!-- for adding new items -->
  <form class="item" action="/" method="post">
    <input type="text" name="newList" placeholder="New Item" />
    <button type="submit" name="list" value="<%= kindOfDay%>">+</button>
  </form>
</div>

<%- include("footer"); -%>
